@charset "UTF-8";
/* CSS Document */

body {
	background-color: #EEE;
}

@font-face {
	font-family: 'Luna';
	src: url('fonts/Luna.ttf'); 
	src: 
		local('Luna'),
		local('Luna'),
		url('fonts/Luna.ttf') 
		format('opentype');
}

#menu {
	font-family: 'Luna', sans-serif;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .8);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	font-size: 25px;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	text-align: center;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	z-index: 100;
}

#menu a:link,
#menu a:visited {
	text-decoration: none;
	display: inline;
	color: #FFF;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 25px;
}

#menu a:active,
#menu a:hover {
	transition: color 0.6s ease-in-out;
	-moz-transition: color .6s ease-in-out;
	-webkit-transition: color .6s ease-in-out;
	color: #BDBDBD;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 25px;
}

a.active {
	font-size: 25px;
	transition: color 0.6s ease-in-out;
	-moz-transition: color .6s ease-in-out;
	-webkit-transition: color .6s ease-in-out;
	color: #2EFEC8;
	text-decoration: none;
	cursor: pointer;
	padding-left: 20px;
	padding-right: 20px;
}

#banner {
	margin-top: 50px;
	height: 500px;
	width: 100%;
}

.work {
    position: fixed;
    top: 25%;
    right: 7%;
    width: 25%;
    height: 25%;
	
}

.life {
	position: fixed;
    top: 25%;
    left: 4%;
    width: 28%;
    height: 25%;
	
}

.footer {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .8);
	width: 100%;
	margin-top: 50px;
	height: auto;
	font-size: 25px;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	right: 0;
  bottom: 0;
  left: 0;
	padding-top: 10px;
	position: relative;
	overflow: hidden;
	
}

.footer img {
	width: 40px;
	height: 40px;
	margin: 10px 10px;
}

.footer:hover {
	background-color: #2EFEC8;
	border-radius: 50%;
	transition: background-color 0.8s ease-in-out;
	-moz-transition: background-color 0.8s ease-in-out;
	-webkit-transition: background-color 0.8s ease-in-out;
}